body{
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 100vh;

}


/**************************************************** Design Header *****************************************************************************************************************/

/*





/* Ajustez la propriété left pour positionner les sous-menus à côté de leurs éléments parent 
.ul1 > li > .sub-menu {
    text-align: center;
    margin-top: 20%;
}
/*li:hover .sub-menu {
    display: block;
}

li:hover .sub-menu {
    display: block;
}

*/

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1; 
}


#header1 {
  
    position:sticky;
    padding-top:20px;
    left:0;
    background-color: #000;
    color: #ffffff;
    padding-left: 53%;
    padding-bottom: 2px;
    font-size: 13px;
    z-index: 3;
 
}
    



#header1 ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header1 ul li {
    margin-right: 20px; /* Espacement entre les éléments */
}

#header1 ul li:last-child {
    margin-right: 0; /* Supprime l'espacement pour le dernier élément */
}

#header1 .une-sous-nav {
    position: relative;
}

#header1 .sous-nav1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333; /* Couleur de fond du sous-menu */
    padding: 10px;
}

#header1 .une-sous-nav:hover .sous-nav1 {
    display: block;
}

#header1 li a{
    text-decoration: none;
    color: white;
    padding:19px;
    display: block;
    font-weight: 450;
    
}


#navigation1:hover{
    color:#c40055;
}

.navigation1:hover{
    color:#c40055;
}

#navigation2:hover{
    color:red;
}

.navigation2:hover{
    color:red;
}



#navigation3:hover{
    color: skyblue;
}

#navigation4:hover{
    color: greenyellow;
}


#navigation5:hover{
    color:orange;
}

.navigation5:hover{
    color:orange;
}

#navigation6:hover{
    color:grey;
}




.une-sous-nav{
    position: relative;
    width: max-content;
}


.sous-nav1{
    
    list-style: none;
    display: none;
    position: absolute;
    top: 18px;
    left: 0;
    background-color: #000;
    width: 96px;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 2; /* Augmentez le z-index pour que le menu déroulant soit au-dessus de tout */

}


.sous-nav1 li:nth-child(1) a:hover {
    background-color:  #c40055;
    /* Autres styles que vous souhaitez appliquer au survol pour Espace Jeunes */
}

.sous-nav1 li:nth-child(2) a:hover {
    background-color: orange;
    /* Autres styles que vous souhaitez appliquer au survol pour Espace Entreprises */
}

.une-sous-nav:hover .sous-nav1{
display: block;
}


#header2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto; /* Centrer horizontalement */
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}

#logo {
    height: 55%;
}

.menu {
    position: sticky;
    padding-top: 25px;
    padding-left: 5px;
    background-color: white;
}

.menu > ul {
    display: flex;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #000;
    padding: 11px;
    display: block;
    font-weight: 500;
}

.has-sous-nav {
    position: relative;
    width: max-content;
    
}



.sous-nav {
    list-style: none;
    display: none;
    position: absolute;
    top: 44px;
    margin: auto;
    padding: 2 3;
    background-color: #ffffff;
}

.sous-nav li a:hover {
    background: #f2f2f2;
}

.has-sous-nav:hover .sous-nav {
    display: block;
}



/************************************* Fin du Design du header ***********************************************/


/************************************* Design page Home *******************************************************/

/* 
.carousel-item {
    text-align: center;
  }

  .slide-button {
    margin-top: 20px;
  } */


.barre_colore {
    width: 100%;
    margin: 0;
    padding: 0;
}


.Home-Slider{
    margin-top: 200px;
}




/*
#Carousel {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
 
.texte-devant-slider {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
}


#carousel-text{
    text-align: justify;
    margin-bottom: 15px;
}

.carousel {
    position: relative;
    z-index: 1;
    opacity: 0.7;
}

#carouselExampleFade {
    max-height: 500px;
    overflow: hidden;
}



#carousel-button{
    color: #ffffff;
    background-color: #c40055;
    padding: 5PX 20px;
    border-radius: 10px;
    margin-right: 80%;
} */
/*******************************************************************************************************/

.container-home{
    width: 80%;
    margin: auto;
    padding: 20px;
}
.titre-image1{
    font-weight: 700;
    
}
.titre-image1::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid rgb(137, 137, 236);
}

.p1{
    font-size: 16px;
   
  }

  .taille-photo-home{
    height: 210px;
    width: 190px;
    border-radius: 15px;
    
}

#scroll-section{
   
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  }

  .item{
    background-color:#ffffff;
    text-align: center;
    padding: 10px 10px;
    margin: 0 30px;
    /* width: 20%; */
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    
  
  }


  .button-actualite {
   border-radius: 8px;
   width: 25%;
   margin: 3% auto;
   padding: 0 12px;
   border: 1px solid rgb(137, 137, 236);
   font-size:15px;
   color: rgb(137, 137, 236);
   background-color: #ffffff;
   text-align: center;
   text-decoration: none;
   
}


.button-actualite:hover{
    text-decoration: none;
} 

/********************************************************/
.background-gray{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
}

.actualites-mission2{
    
    margin: auto;
    width: 80%;
}

.video-home{
width: 50%;
margin: auto;
padding: 2%;
}

/******************************/


.actualites-mission5{
    
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.cadre {
    position: relative;
    padding: 15px;
    color:black;
    padding: 30 15;
    margin: 10 30px;
    width: 13%;
  }
  
  .chiffres {
    position: absolute;
    top: -15px;
    left: 40px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 18px;
    animation: compteur 1s ease-out;
  }
  
  @keyframes compteur {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .couleur1{
    font-weight: bold;
    color: #db34b7;
  }
  .couleur2{
    font-weight: bold;
    color: red;
  }
  .couleur3{
    font-weight: bold;
    color: skyblue;
  }
  .couleur4{
    font-weight: bold;
    color: greenyellow;
  }
  .couleur5{
    font-weight: bold;
    color: orange;
  }
  .couleur6{
    font-weight: bold;
    color: yellow;
  }

  #chiffres1{
    border:2px solid  #db34b7;
}
#chiffres2{
    border:2px solid  red;
}
#chiffres3{
    border:2px solid  skyblue;
}
#chiffres4{
    border:2px solid  greenyellow;
}
#chiffres5{
    border:2px solid  orange;
}
#chiffres6{
    border:2px solid  yellow;
}

/**************************************************************/
/************************************* Fin du Design page Home ***********************************************/



/************************************* FDesign page Nos Missions ***********************************************/



.image-container{
    text-align: center;
    position: relative;
}


.image-container img {
    max-width: 100%;
    height:auto;
    display: block;
    margin-top: 200px;
}



.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.image-title h1 {
    margin: 0;
    font-size: 35px;
}

.h2-Titre-Communes {
    /*margin-left: 5%;
    margin-top: 50px;
    font-size: 30px;*/
    margin: 40 90;
    text-align: justify;
    max-width: 900PX;
}


.h2-Titre-Communes::after {
   
    content: '';
    display: block;
    position: absolute;
    margin-top: 3px;
    width: 7%; /* Ajustez la largeur du trait en fonction de vos besoins */
    border-bottom: 2px solid #c40055;/* Couleur et style du trait */
}





/************************************* Fin du Design page Nos Missions ***********************************************/

 
/*************************************  Design page être Accompagné ***********************************************/
 .p1-1{ /*Design de tout les textes de chaque pages* */
   
       
    font-size: 20px;
    margin: 40 90;
    text-align: justify;
    
}
 
.button-texte{
    color: #ffffff;
    background-color:#c40055;
    border-color: #c40055;
    margin-left: 90px;
    margin-bottom: 70px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 0 10;
}
/************************************* Fin du Design page être Accompagné ***********************************************/



/************************************* Design body page Nos Communes *************************************************/

.carte-container{

    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 160vh; Ajustez la hauteur en fonction de vos besoins */
    padding-left: 310px;
    padding-top: 365px;
    height: 100%;
    background-color: rgb(240, 239, 239);
}

#path24154_00000069377474125509904440000010441585699661837210_:hover{
    fill: #006284;
    transition: 0.6s;
    cursor: pointer;
}
#path24156_00000116930188339299057460000013369687258945934516_:hover {
    fill: #006284;
    transition: 0.6s;
    cursor: pointer;
}

#path24274_00000090273995869073243170000003586321213856506556_:hover{
    fill: #006284;
    transition: 0.6s;
    cursor: pointer;
}


.Articles-Communes {
    text-align:left;
    padding: 3px;
    margin-left: 12px;
    font-size: 20px;
}


.Les-Communes {
    height: 190px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    font-size: larger;
}


#Les-3Communes {
    background-color: rgb(240, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 370px;


}

.Les-3Communes-Text {

    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    background-color: #ffffff;
    width: 25%;
    margin-left: 18px;
    
}

#LESMUREAUX{
text-align:left;
font-size: 16px;
padding-bottom: 18px;

}



#Communes-LesMureaux {
    background-color:	#CA1F7B;
    border-radius: 10px;
    color: #ffffff;
    height: 35px;
    font-size: 20px;
  
    
}

.titre {
    font-size: 24px;
    text-align:left;
}

.textes-communes{
    text-align:left;
    font-size: 16px;
}


.Communes-Meulan-Aubergenville {
    background-color: orange;
    border-radius: 10px;
    color: #ffffff;
    height: 35px;
    font-size: 20px;
  

}

.Article-Commune{
 margin-left: 20px;

}

/****************************************** fin du Design Nos Communes ****************************************************/


/****************************************** Design page Gouvernance ****************************************************/
.Gouvernance{
    background-color: #F6F6F6;
}

.gouvernance-section1{
    /*margin-left: 5%;
    margin-top: 50px;
    font-size: 30px;*/
    margin-left: 90;
    text-align: justify;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 20px;
    width: 90%;
    padding-left: 10px;
    height: 140px;
}


.texte-identite{
    padding-left: 40px;
    padding-top: 20px;
}


.gouvernance-section2{
    /*margin-left: 5%;
    margin-top: 50px;
    font-size: 30px;*/
    margin-left: 90;
    margin-top: 20px;
    background-color: #ffffff;
    width: 12%;
    padding: 16 18;
    border-radius: 15px;
    padding-left: 15px;
    
    
}



.photo-avatar{
    height: 130px;
    width: 120px;
    border-radius: 15px;
    margin-bottom: 90px;
    object-fit: cover; /* Évite l'aplatissement et recadre l'image */
    object-position: center; /* Centre l'image horizontalement et verticalement */
}



.photo-avatar2 {
    width: 130px;
    height: 140px;
    border: none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    object-fit: cover; /* Évite l'aplatissement et recadre l'image */
    object-position: center; /* Centre l'image horizontalement et verticalement */
  }


.texte-identite2{
    padding-left: 10px;
    padding-top: 25px;
    
}


.paragraphe-identite::after {
   
    content: '';
    display: block;
    position: absolute;
    margin-top: 5px;
    width: 8%; /* Ajustez la largeur du trait en fonction de vos besoins */
    border-bottom: 2px solid #c40055;/* Couleur et style du trait */
}



.direction-identite{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 80px;
    font-size: 13px;
   
}

.date1{
    border: 1px solid #c40055;
    background-color: #c40055;
    margin: 0; /* Supprime la marge par défaut des paragraphes */
    padding: 1 30;
    border-radius: 5px;
    color: #fff;
    margin-right: 27px;
    text-decoration: none;
    
    
}


.date2{
    border: 1px solid red;
    background-color: #CA1F7B;
    margin: 0; /* Supprime la marge par défaut des paragraphes */
    padding: 1 30;
    border-radius: 5px;
    color: #fff;
    margin-right: 27px;
    
    
}


.date3{
    border: 1px solid skyblue;
    background-color: skyblue;
    padding: 1 30;
    border-radius: 5px;
    color: #fff;
    margin-right: 27px;
    
    
}


.date4{
    border: 1px solid greenyellow;
    background-color: greenyellow;
    padding: 1 30;
    border-radius: 5px;
    color: #fff;
    margin-right: 27px;
    
}


.date5{
    border: 1px solid orange;
    background-color:orange ;
    padding: 1 30;
    border-radius: 5px;
    color: #fff;
}

.article-date{
display: flex;
flex-direction: row;
    
}

article a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
article a:hover {
    color: inherit; /* Utilisation de la même couleur que le texte au survol */
  }

/****************************************** Fin du Design page Gouvernance *******************************************************************************/



/****************************************** Design page Equipe *******************************************************************************************/

.pole-technique-equipe{
    background-color:#F6F6F6;
    height: 600px;
    text-align: justify;
    
}



.Paragraphe-equipe{ 
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 90;  
}
.Paragraphe-equipe p {
    flex-basis: 20%; 
    margin-right: 20px; 
    box-sizing: border-box; 
}

.team {
    width: 50%;
    border-radius: 13px;
    display: block;
    margin: 0 auto; 
}




/****************************************** Fin du Design page Equipe *************************************************************************************/




/**************************************************** Designe page Atelier **********************************************************************************/

.atelier{
    background-color: #ffffff;
    border:2px solid #45a049;
    border-radius: 15px;
    padding: 7 17;
}


.button-atelier{
    border: 1px solid rgb(111, 175, 15);
    background-color:rgb(111, 175, 15);
    padding: 2 30;
    border-radius: 15px;
    color: #fff;
}

.bulle-atelier{
    border:1px solid #fff;
    background-color: #ffffff;
    border-radius: 13px;
    padding: 7 20;
    margin-left: 13px;
}


.custom-form {
    max-width: none; /* Annule la limitation de largeur */
    margin: 0; /* Réinitialise la marge */
    text-align: left; /* Aligne le contenu à gauche */
}
.custom-form button {
    display: block; /* Change le bouton en élément block */
    margin: 0; /* Réinitialise la marge du bouton */
}



.button-atelier2{
   
    margin-top: 30px;
}


.button-atelier3{
    border: 1px solid rgb(111, 175, 15);
    background-color:rgb(111, 175, 15);
    padding: 7 30;
    border-radius: 15px;
    color: #fff;
    margin-top: 30px;
}
/**************************************************/


.h4-Titre-Ateliers {
    
    margin: 40 90;
    text-align: justify;
    max-width: 900PX;
    text-align: center;
}



.h4-Titre-Ateliers::after {
   
    content: '';
    display: block;
    position: absolute;
    margin-top: 5px;
    width: 8%; /* Ajustez la largeur du trait en fonction de vos besoins */
    border-bottom: 2px solid rgb(111, 175, 15);/* Couleur et style du trait */
    margin-left: 90px;
}

.back-atelier{
    background-color: #f6f6f6;
    padding-top: 1px;
    padding-bottom: 30px;
   
}

.Paragraphe-atelier{
    margin-left: 30px;
   
    margin-right: 20px;
    margin-top: 10px;
}



.atelier-section{
    /*margin-left: 5%;
    margin-top: 50px;
    font-size: 30px;*/
    margin-left: 90;
    text-align: justify;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 20px;
    width: 42%;
    padding-left: 9px;
    height: 230px;
    margin-left: 180px;
    margin-top: 30px;
    
}


.photo-atelier {
    height: 210px;
    width: 190px;
    border-radius: 15px;
    padding-top: 10px;
    object-fit: cover; /* Conserver les proportions et couvrir le conteneur */
    object-position: center; /* Centrer l'image horizontalement et verticalement */
    min-width: 190px; /* Dimension minimale en largeur */
    min-height: 210px; /* Dimension minimale en hauteur */
}


.button-atelier4{
    border: 1px solid rgb(111, 175, 15);
    background-color:rgb(111, 175, 15);
    padding: 2 35;
    border-radius: 15px;
    color: #fff;
    margin-top: 27px;
}



/**************************************************** Fin de Design page Atelier **********************************************************************************/


/****************************************************  Design page Actualités **********************************************************************************/

.bleu{
    color: skyblue;
}
.articles-container {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 10px auto;
}

.actualite-section {
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    padding: 5px 15px;
    width: 48%;
    display: flex;
    align-items: center;
}

.photo-actualite{
    height: 210px;
    width: 190px;
    border-radius: 15px;
  
    
}
.Paragraphe-actualite {
    padding-top: 10px;
    margin-left: 20px;
    flex: 1; /* Pour que le texte occupe l'espace restant */
}

.button-actualite2 {
    border: 1px solid skyblue;
    background-color: skyblue;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
    margin-left: auto; /* Pour placer le bouton à droite */
}

.button-actualite2:hover{
    text-decoration: none;
}

.align-gauche{
    text-align: end;
}
/* Pour centrer la pagination au milieu de la page */
.pagination-actualites {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajustez selon votre mise en page */
}

/* Pour cacher les flèches précédentes et suivantes */
.pagination-actualites .page-item:first-child .page-link,
.pagination-actualites .page-item:last-child .page-link {
    display: none;
}

/* Pour styliser les numéros de page */
.pagination-actualites .page-item .page-link {
    border-radius: 5px; /* Coins arrondis */
    margin-right: 15px;
}

/* Effet hover bleu */
.pagination-actualites .page-item .page-link:hover {
    background-color: skyblue;
    color: #fff;
}

/* Pour la page actuelle */
.pagination-actualites .page-item.active .page-link {
    background-color: skyblue; /* Couleur pour la page actuelle */
    color: #fff; /* Couleur du texte */
    border-radius: 5px; /* Coins arrondis */
    border: 1px solid skyblue ;
}

/* Pour centrer la pagination au milieu de la page */
.pagination-formations {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajustez selon votre mise en page */
}

/* Pour cacher les flèches précédentes et suivantes */
.pagination-formations .page-item:first-child .page-link,
.pagination-formations .page-item:last-child .page-link {
    display: none;
}

/* Pour styliser les numéros de page */
.pagination-formations .page-item .page-link {
    border-radius: 5px; /* Coins arrondis */
    margin-right: 15px;
}

/* Effet hover bleu */
.pagination-formations .page-item .page-link:hover {
    background-color: #d60b52;
    color: #fff;
}

/* Pour la page actuelle */
.pagination-formations .page-item.active .page-link {
    background-color: #d60b52; /* Couleur pour la page actuelle */
    color: #fff; /* Couleur du texte */
    border-radius: 5px; /* Coins arrondis */
    border: 1px solid #d60b52 ;
}

/****************************************** Fin de Design page Atualités **********************************************************************************/ 

/******************************************  page Espace Perso Entreprise **********************************************************************************/ 


  .Espace-Perso{
    background-color: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 30px;

 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
   
}

.back-atelier {
    text-align: center;
}

.groupe-espace-perso {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    max-width: 800px;
    width: 100%; 
}

.groupe-espace-perso a {
    display: block;
    text-align: center;
    border: 1px solid #FFF;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    flex: 1; 
    margin: 0 10px; 
}

.photo-espaceperso {
    width: 100px; 
}

.direction-paragraphe-espaceperso {
    font-size: 12px; 
}



.sous-nav1-espacePerso{
    
    list-style: none;
    display: none;
    position: absolute;
    top: 18px;
    left: 0;
    background-color: #000;
    width: 140px;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 2; /* Augmentez le z-index pour que le menu déroulant soit au-dessus de tout */

}


.une-sous-nav:hover .sous-nav1-espacePerso{
    display: block;
    }


    .sous-nav-espacePerso{
        color: #c40055;
        font-size: 10px;
    }



/******espace perso Detail*/
/* 


.espaceperso-Detail {
    font-size: 17px;
    text-align: justify;
    background-color: gray;
    height: 100vh;
    margin-top: 20px;
}

.container-espace-perso {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid white;
    margin-left: 90px; 
    padding: 10px;
    border-radius: 8px;
}

.label-espacePerso {
    width: auto;
    margin-bottom: 8px;
    text-align: left;
}

.input-espacePerso {
    width: calc(100% - 8px);
    margin-bottom: 8px;
    border: 1px solid white;
    border-radius: 4px;
} */

.Paragraphe1Info-Perso {
    background-color: #f2f2f2;
    height: 300px;
}



.button-espace-perso{
    color: #ffffff;
    background-color:#c40055;
    border-color:#c40055;
    border-radius: 10px;
    padding: 2 35;
}


.espaceperso-Detail {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
   padding-top:  40px;
   padding-left: 90px;
   padding-right: 60%;
   padding-bottom: 40px;
   margin-top: 40px;
    /* height: 900px; */
  }



  .espaceperso-Detail2 {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
   padding-top:  40px;
   padding-left: 90px;
   /* padding-right: 60%; */
   padding-bottom: 40px;
   margin-top: 40px;
   /* height: 300px; */

  }
  
  .container-espace-perso {
    display: flex;
    flex-direction: column; /* Les éléments enfants sont disposés en colonne */
    background-color: white;
    border: 1px solid white;
    padding: 20px; /* Ajuster la marge de la div */
    border-radius: 8px;
    
  }
  
  #name{
    border: 1px solid white;
  }


  .label-espacePerso {
    width: auto;
    margin-bottom: 8px;
    text-align: left; /* Aligner le texte du label à gauche */
  }
  
  .input-espacePerso {
    width: calc(100% - 8px); /* Réduire la largeur des inputs pour compenser les marges et les bordures */
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
  }
  
  .Texte-Info-Perso {
    
     margin-left: 90px;
    text-align: justify;
    height: 10px;
}

#formulaire-espace-perso{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}
    
.text-green-500 {
    color: green;
}

.text-red-500 {
    color: red;
}

.text-gray-500 {
    color: gray;
}

/****************************************** Fin de Design page Perso Entreprise **********************************************************************************/ 




/****************************************************  Design page Formation **********************************************************************************/
.button-actualite3 {
    border: 1px solid #d60b52;
    background-color: #d60b52;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
    margin-left: auto; /* Pour placer le bouton à droite */
}

.rouge{
    color : #d60b52;
}
/****************************************** Fin de Design page Formation **********************************************************************************/ 


/******************************************  Design Footer *****************************************************************/

footer{
    background-color: rgb(37, 35, 35);
    color: #ffffff;

}

.footer1
{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;

}

.footer-colonne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin-right: 30px;

}

.footer2
{

    padding-top: 40px;

}


#Logo2{

    height: 95px;
    background-color: #ffffff;
    border-radius: 10px;

}

.footer3
{
    width: 300px;
}
.foot-align{
    margin-right: 45px;
}

.footer4{
    font-weight: 500;
    margin-right: 70px;
}

.footer-end {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: small;
    background-color: black;
    padding: 40px;
}


/* Styles pour le carousel */
#myCarousel {
    width: 100%; /* Prend toute la largeur de la page */
    z-index: -1; /* Met le carousel en arrière-plan */
}

/* Styles pour le titre centré */
.carousel-caption {
    position: absolute;
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5); /* Fond semi-transparent */
}



/****************************************** Design page Notre Expertise ****************************************************/


.button-expertise{
    color: #ffffff;
    background-color:orange;
    border-color:orange;
    margin-left: 90px;
    margin-bottom: 70px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 5 15;
}

/****************************************** Fin de Design page Notre Expertise ****************************************************/




/****************************************** Design page inscription Jeune ***********************************************************/
.backgroun-color{
    background-color: #f6f6f6;

    
}


.logo-inscription{
    
width: 180px;
display: flex;
justify-content: center;

    
}




.logo-inscription-block{
    display: flex;
    justify-content: center;
    
}

.formulaire-inscription{
 
    margin: 0;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center
  
}


.containe {
    width: 100%;
}

form {
    max-width: 300px; /* Ajustez selon vos besoins */
    margin: 0 auto;
    
}

.titre-inscription {
    color: #c40055;
    margin-top: 20px; /* Ajustez la valeur en fonction de vos besoins */
    text-align: center;
}



.titre-inscription::after {
    content: '';
    display: block;
    position: absolute;
    margin-left: auto;
    margin-top: 12px;
    border-bottom: 2px solid #c40055; /* Couleur et style du trait */
}


.titre-inscription2 {
    padding-bottom: 30px;
    color:orange;
}



.titre-inscription2::after {
    content: '';
    display: block;
    position: absolute;
    margin-left: 6%;
    margin-top: 12px;
    width: 7%; /* Ajustez la largeur du trait en fonction de vos besoins */
    border-bottom: 2px solid orange; /* Couleur et style du trait */
}



.input-inscription{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center; /* Centre le texte dans les champs */
    margin-top: 25px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-inscription-button {
    width: 100%; /* Fait en sorte que le bouton ait la même largeur que les champs d'entrée */
    background-color:#c40055;
    color: white;
    margin-top: 25px;
    padding: 10px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.input-inscription-button:hover {
    background-color: #45a049;
}


.input-inscription-button2 {
    width: 100%; /* Fait en sorte que le bouton ait la même largeur que les champs d'entrée */
    background-color:orange;
    color: white;
    margin-top: 25px;
    padding: 10px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}


.inscription-down{
    display: flex;
    justify-content: space-around;
    margin: 10px 430;
    
}

.inscription-down-bouton{
    color: black;
}

.inscription-down-bouton:hover{
    color: black;
}



.button-texte2 {
    color: #ffffff;
    background-color: #c40055;
    border-color: #c40055;
    border-radius: 10px;
    padding: 10 20;
    text-align: center; /* Modification de la propriété text-align */
}

.button-pre-inscription{
    display: flex;
    justify-content: center;
}

/****************************************** Fin du Design page inscription Jeune****************************************************/



/******************************************  Design page pré inscription Jeune****************************************************/




.formflex {
    display: flex;
    justify-content: space-between; /* Evenly distribute left and right columns */
    width: 80%; /* Set the width of the form to 80% of the container */
    margin: auto; /* Center the form within the container */
}

.leftcollumn,
.rightcollumn {
    width: 40%; /* Set both columns to take 40% */
}

.input-inscription {
    width: 100%;
    margin-bottom: 10px;
}


.backgroun-color-insrciption{

    background-color: #f6f6f6;
      
}


.p1-pré-inscription{
    font-size: 12px;
    margin: 40 90;
    text-align: center;
    
}

.Formulaire-Preinscription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 95px;
    max-width: 800px; /* Ajustez la largeur maximale selon vos préférences */
    margin: auto; /* Centre le formulaire horizontalement, peut être ajusté si nécessaire */
    justify-content: space-around;
   
  }


.Formulaire-inscription {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; /* Ajoutez un espacement entre les lignes si nécessaire */
    max-width: 800px;
    margin: auto;
    justify-items: start;
    justify-content: start;
   
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px; /* Ajoute une marge basse pour créer un espace vertical entre les div-group */
  }
  

  
  .input-inscription {
    width: 120%; /* Ajustez en fonction de la largeur désirée */
    box-sizing: border-box;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid white;
    background-color: white;
  }
  
  .button-texte2 {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }
  
  .ckeckbox {
    grid-column: span 2;
  }
  

  
  /* Nouveau style pour l'input de droite */
  .input-group:nth-child(2) .input-inscription {
    margin-left: 0; /* Supprime la marge à gauche de l'input de droite */
  }
  
  




.back-atelierDetail {
    background-color: #F6F6F6;
    margin: 0 auto; /* Applique une marge égale à gauche et à droite */
}



.back-atelier2, .back-atelier3 {
    background-color: white;
    margin: 10 96;
    padding: 20px; /* Ajoutez un espace interne pour plus de lisibilité */
    margin-bottom: 30px;
}

.back-atelier3 img {
    display: blck;
    margin: auto; /* Centre l'image horizontalement */
}

.back-atelier3 p {
    text-align: justify; /* Justifie le texte pour une meilleure apparence */
}


/****************************************** Fin du Design Design page actualité Detail  ****************************************************/




/****************************************** Design page Contact *******************************************************************************/

.back-contact {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Cela assure que le conteneur prend toute la hauteur de la vue */
    height: 1400;
}

.Groupe {
    background-color: #FFFFFF;
    margin-top: 10%; /* Espacement entre les articles */
    padding: 80 50; /* Espacement à l'intérieur de chaque article */
    text-align: center;
    border-radius: 10px;
}


.Groupe2 {
    background-color: #FFFFFF;
    margin-top: 20px; /* Espacement entre les articles */
    padding: 20 90; /* Espacement à l'intérieur de chaque article */
    text-align: center;
    border-radius: 10px ;
}


.Groupe3 {
    background-color: #FFFFFF;
    margin-top: 20px; /* Espacement entre les articles */
    padding: 20 50; /* Espacement à l'intérieur de chaque article */
    text-align: center;
    border-radius: 10px ;
}


.reseaux-sociaux a {
    margin: 0 30px; /* Espacement entre les icônes des réseaux sociaux */
    font-size: 30px; /* Ajustez cette valeur pour augmenter la taille des icônes */
}


.svg-image svg{
    margin-top: 20px;
    max-width: 100%;
    margin-top: 30px;
    text-align: center;
    height: 100%;
    
}
/****************************************** Fin du Design Page Contact ************************************************************************/

/****************************************** Design page Info Perso Entreprise *********************************************************************/

/* Utilisation de flexbox pour aligner les labels et les champs de saisie horizontalement */
.Formulaire-espacePerEntreprise form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Formulaire-espacePerEntreprise label {
    flex: 0 0 48%; /* Ajustez la largeur en fonction de vos besoins */
    text-align: right;
    margin-bottom: 5px;
}

.Formulaire-espacePerEntreprise input {
    flex: 0 0 48%; /* Ajustez la largeur en fonction de vos besoins */
    margin-bottom: 10px;
}


.Groupe-EspacePerso-Entreprise{

    font-size: 20px;
    margin: 30 90;
    text-align: justify;
}

.Page-espace-entreprise {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Cela assure que la section occupe au moins la hauteur de l'écran */
    
}


.Top{
    margin-top: 90px;
}

.Groupe-EspacePerso-Entreprise {
    font-size: 20px;
    margin: 10 0; /* Ajout d'unité (px) pour définir la marge correctement */
    text-align: justify;
}




.InformationPersoEntreprise{
    background-color: #ffffff;
    border:2px solid white;
    border-radius: 15px;
   padding-top: 12px;
   padding-right: 300px;
   padding-left: 20;
   padding-bottom: 30;
 
}




/*** Design des errors et success ***/


input[type="date"]::before{
    content: attr(placeholder)" : ";
    white-space: pre;
 }
 input[type="date"]:focus::before {
    content:""!important;
 }
